@{
    ViewData["Title"] = "Error";
}

<!-- error message -->
<div id="page-error-container">
    <div id="page-message">
        An unknown error occured. Contact to server administrator.
    </div>
</div>
