<!-- Server local rule. Edit here to add personality to your server. -->

<ul>
    <li>Antisocial contents are banned.</li>
    <li>Pornography contents are banned.</li>
    <li>Let's enjoy!</li>
</ul>
