@{
    ViewData["Title"] = "Top";
    ViewData["ExtraScript"] = "webclient_top";
}

<!-- Top page -->
<div id="top-container">
    <h1>Gunucco</h1>
    <h2>Common api for creators and readers</h2>

    <ul>
        <li id="top-container-nav-signin"><a href="/web/signin">Sign in</a></li>
        <li id="top-container-nav-signup"><a href="/web/signup">Sign up</a></li>
    </ul>

    <div id="top-server-path">
        ServerPath: <code>@Config.ServerPath</code>
    </div>
</div>
