@{
    ViewData["Title"] = "Sigh up";
}

<!-- sign up -->
<div id="conpact-form-container">
    <h1>Sign up</h1>

    <form action="/web/signup" method="post">
        <div class="form-label">Text id</div>
        <input type="text" name="text_id" value=""/>

        <div class="form-label">Password</div>
        <input type="password" name="password" value=""/>

        <div class="form-label">Password (again)</div>
        <input type="password" name="password_again" value="" />

        <input type="submit" value="Sign up"/>
    </form>
</div>
